<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8"/>
<title>PMDEMY</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body style="height:800px">

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">PMDEMY</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li ><a href="/home">Dashboard</a></li>
      <li class="active"><a href="#">Exams</a></li>
      <li><a href="#">Tips &amp; Tricks</a></li>
        <li><a href="/"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
    </ul>
 
    
  </div>
</nav>
  
<div class="container" style="margin-top:100px">

<h4> Exams </h4>
   <table class="table table-hovers">
      <tr>
        <th>Exam ID</th>
        <th>Exam Name</th>
        <th>Difficulty Level</th>
         <th></th>
      </tr>
      <tr th:each="exam : ${exams}">
        <td th:text="${exam.examId}">Exam ID</td>
        <td th:text="${exam.examName}">Exam Name</td>
         <td th:text="${exam.difficultyLevel.toString()}">Exam Name</td>
                  <td><a th:href="@{'/startExam?examId='+${exam.examId}}" class="btn btn-info" role="button">Start</a></td>
      </tr>
    </table>
    
</div>
</body>
</html>